version: '3.3'
networks:
  traefik:
    external:
      name: "{{ traefik_network }}"
services:
  app:
    image: "{{ composes.traefik.images.app }}"
{% if composes.traefik.command|default(true) %}
    command:
      - "--entrypoints.http.address=:{{ composes.traefik.ports.http.container }}"
      - "--entrypoints.https.address=:{{ composes.traefik.ports.https.container }}"
{% if composes.traefik.provider_file is defined %}
      - "--providers.file=true"
      - "--providers.file.filename={{ composes.traefik.mounts.app.container }}/{{ composes.traefik.provider_file }}"
{% else %}
      - --providers.docker
      - --providers.docker.exposedByDefault=false
{% endif %}
      - --api
      - "--certificatesresolvers.letsencrypt.acme.email={{ composes.traefik.le_email }}"
      - --certificatesresolvers.letsencrypt.acme.dnsChallenge=true
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.provider=digitalocean
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge.resolvers={{ composes.traefik.resolver1 }},{{ composes.traefik.resolver2 }}"
      - --certificatesresolvers.letsencrypt.acme.storage={{ composes.traefik.mounts.app.container }}/acme.json
      - --log.level=debug
{% endif %}
    ports:
      - "{{ composes.traefik.ports.http.host }}:{{ composes.traefik.ports.http.container }}"
      - "{{ composes.traefik.ports.https.host }}:{{ composes.traefik.ports.https.container }}"
    networks:
      - traefik
    volumes:
{% if composes.traefik.provider_file is not defined and composes.traefik.command|default(true) %}
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
{% endif %}
      - "{{ composes.traefik.mounts.app.local }}/{{ ansible_host }}:{{ composes.traefik.mounts.app.container }}{{ composes.traefik.selinux | default('') }}"
{% if composes.traefik.selinux is defined %}
    privileged: true
{% endif %}
    environment:
      - "DO_AUTH_TOKEN={{ composes.traefik.do_token }}"
    restart: unless-stopped
{% if composes.traefik.splunk.hec_endpoint is defined %}
    logging:
      driver: splunk
      options:
        splunk-url: "{{ composes.traefik.splunk.hec_endpoint }}"
        splunk-token: "{{ composes.traefik.splunk.hec_token }}"
        splunk-insecureskipverify: "{{ composes.traefik.splunk.hec_skip_verify }}"
        splunk-format: "{{ composes.traefik.splunk.hec_format }}"
{% endif %}